<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">

          <div class="row">

            <div class="col-xl-12 order-xl-1">
              <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <h3 class="mb-0">New Voucher</h3>
                    </div>
                    <!-- <div class="col-4 text-right">
                      <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                    </div> -->
                  </div>
                </div>
                <div class="card-body">
                  <form>
                    <h6 class="heading-small text-muted mb-4">Voucher information</h6>
                    
                    <div class="pl-lg-4">
                        <div class="form-group">
                            <select class="form-control form-control-alternative" id="input-type-Voucher">
                              <option selected disabled="disabled" [value]="null">Type Voucher.</option>
                              <option *ngFor="let data of datasTypeVoucher" [value]="data.id">
                                {{data.name}}</option>
                            </select>
                          </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-Title">Title</label>
                            <input type="text" id="input-Title" class="form-control form-control-alternative"
                              placeholder="Voucher Title" value="">
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-image">Image</label>
                            <input type="file" id="input-image" class="form-control form-control-alternative"
                              placeholder="">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <textarea class="form-control " id="exampleFormControlTextarea1" rows="10"></textarea>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <img [src]="filename" (error)="filename = './assets/img/brand/img-default.png'" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-4" />
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-code-sale">Code Sale</label>
                          <input type="text" id="input-code-sale" class="form-control form-control-alternative"
                            placeholder="code sale" value="">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-max-slot">Max Slot</label>
                          <select class="form-control form-control-alternative" id="input-max-slot">
                            <option selected disabled="disabled" [value]="null">Choose...</option>
                            <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" [value]="number">
                              {{number}} People</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-percent-sale">Percent Sale</label>
                          <input type="number" id="input-percent-sale" class="form-control form-control-alternative"
                            placeholder="Percent..." value="">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-duration">Duration</label>
                          <div class="input-group mb-3">
                            
                            <input type="number" id="input-duration" class="form-control form-control-alternative"
                              placeholder="Duration of voucher..." value="">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Day</span>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="">
                      <button class="btn btn-icon btn-primary">
                        <span class="btn-inner--text">Submit</span>
                      </button>
                      <button class="btn btn-icon btn-primary" type="reset">
                        <span class="btn-inner--text">Reset</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>